:host {
    .container {
        padding-top: calc(88px + 5vh);
    }
    .login-header {
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        z-index: 1;
        position: absolute;
        color: var(--white);
        justify-content: space-between;
        padding-right: 50px;

        p {
            margin-bottom: 0;
            font-weight: 800;
        }

        img {
            width: 50px;
            margin-left: 25px;
        }
    }

    .main-view-div {
        left: 0;
        top: 0;
        background: url(/assets/img/background.jpg) no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
        color: var(--white);
    }
}
.box {
    background-color: #3C8DBC;
    color: #fff;
    text-align: center;
}

.hw{
    width: 47%;
    height:48%;
    margin-left: 2%;
    margin-top: 2%;
    background-color: #686869;
    color: #fff;
    text-align: center;
}

// .mt{
//     margin-top: 125px;
// }

// .mb12{
//     margin-bottom: 2%;
// }

// .mb34{
//     margin-bottom: 5%;
// }

.fullscreen {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:90px;
    background-color: black;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.6) 0, rgba(92, 77, 66, 0.6) 100%), url(/assets/img/background.jpg) no-repeat;
    background-size: cover;
  }
  input{
    border: black 2px solid;
    width: 35px;
    height: 25px;
    text-align: center;
  }
  
  img{
    height:50px;
    width: 50px;
  }
  
  .description{
    position:relative;
    left: 70px;
    bottom: 50px;
  }